.content-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 10px;
  padding: 5px;
  font-family: 'Baloo 2';
}

.edit_page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form.edit_form.rounded {
  min-height: 100%;
}

#delete-profile {
  position: absolute;
  bottom: 150px;
  width: 93%;
}

#saveBtn {
  width: 100%;
}

#showAllBtn {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.posts {
  max-width: 100%;
}

/* LOGIN AND REGISTRATION PAGES */

.login-form {
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 5px lightslategray;
  padding: 60px;
}

.login-form input {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  margin: 6px;
  margin-bottom: 15px;;
}

.login-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: .8;
}

.login-button input {
  border: none;
  background: blue;
  color: white;
  display: flex;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  border-radius: 10px;
  height: 55px;
}

.register-button {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

.select-button {
  border-radius: 10px;
  background-color: white;
  border: none;
  padding: 0;
}

.select-button :hover {
  color: #690000;
}

.select-button:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* QUESTIONNAIRE */
.questionnaire {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  font-family: 'Baloo 2';
}

.answer-btns {
  margin-bottom: 10px;
  width: 100%;
}

.question-text {
  font-family: 'Baloo 2';
  font-size: 29px;
  padding: 20px;
}

.finish-questionnaire{
  width: 100%;
  height: 100vh;
}

#find {
  width: 100%;
  background-image: url('../public/images/hearts.png');
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}

.posts {
  max-width: 100% !important;
  position: relative !important;
  display: flex;
  flex-direction: column;
}

.text-block {
  position: absolute !important;
  background-color: rgba(60, 60, 60, .3) !important;
  color: white !important;
  bottom: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px;
  font-family: 'Baloo 2';
  font-weight: bold;
}

.text-block1 {
  position: absolute !important;
  background-color: rgba(60, 60, 60, .3) !important;
  color: white !important;
  bottom: 1px !important;
  padding-left: 10px !important;
  padding-right: 20px;
  font-family: 'Baloo 2';
  font-weight: bold;
  border-radius: 10px;
}

/* HEADER */
.header {
  border-bottom: 1px solid lightgray;
  background: red;
  padding-left: 10px;
}

.logo {
  max-width: 150px;
  font-family: pacifico;
  color: white;
}

.logo h2 {
  font-size: 40px;
  padding: 4px;
}

/* FOOTER */
.navFooter {
  background-color: #111111;
  width: 100%;
  color: white;
  margin-top: auto;
  position: sticky;
  bottom: 0px;
  border-top: 2px solid lightgray;
  min-height: 75px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 0;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin: 0 !important;
  padding: 0 !important;
}

.material-icons {
  
}

.logoutBtn button {
  border: none !important;
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
}